<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>Marketer {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135023891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135023891-1');
	</script>
	
		<!-- Google Tag Manager -->
	<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
	new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
	j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
	'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
	})(window,document,'script','dataLayer','GTM-KL7ZXFQ');</script>
	<!-- End Google Tag Manager -->

	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KL7ZXFQ"
	height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1997019317018601');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1997019317018601&ev=PageView
    https://www.facebook.com/tr?id=1997019317018601&ev=PageView

    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl/assets/owl.theme.default.css" />


  <link href="aos-master/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="fancybox-master/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" href="images/icons/favicon.png">

</head>
<body>
  <nav class="header header-down flex w-100 align-items-center justify-content-between" id="header">
    <div class="header-logo flex align-items-center margin-xxl--left-24 margin-m--left-24">
		{% if '_eng' in (_GET['0']) %}
      <a href="index_eng" class="flex align-items-center">
        <img src="images/logo.svg"/>
        <span class="font-24 font-white margin-xxl--left-10">Marketer</span>
      </a>
		{% else %}
			<a href="index" class="flex align-items-center">
        <img src="images/logo.svg"/>
        <span class="font-24 font-white margin-xxl--left-10">Marketer</span>
      </a>
		{% endif %}
    </div>
		<!-- eng -->
		{% if '_eng' in (_GET['0']) %}
    <div class="header-meni flex flex-1 align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14"><a href="o_nama_eng">ABOUT US</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="usluge_eng">SERVICES</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="portfolio_eng">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="blog_eng">BLOG</a></div>
      {# <div class="font-14 font-grey margin-xxl--left-90 margin-xl--left-40"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="digitalni_recnik_eng">DIGITAL GLOSSARY</a></div>
    </div>
		{% else %}
		<!-- sr -->
		<div class="header-meni flex flex-1 align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14"><a href="o_nama">O NAMA</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="usluge">USLUGE</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="portfolio">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="blog">BLOG</a></div>
      {# <div class="font-14 font-grey margin-xxl--left-90 margin-xl--left-40"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
    </div>
		{% endif %}
		
    <div class="header-kontakt flex align-items-center margin-xxl--right-24 margin-m--right-18 margin-s--right-none">
        <span class="font-14 font-white padding-xxl--right-24"><a href="tel:+381637050225">+381 63 7050 225</a></span>
        <span>
        <a href="kontakt">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3335 0H2.3335C1.2335 0 0.343496 0.9 0.343496 2L0.333496 14C0.333496 15.1 1.2335 16 2.3335 16H18.3335C19.4335 16 20.3335 15.1 20.3335 14V2C20.3335 0.9 19.4335 0 18.3335 0ZM17.3335 14H3.3335C2.7835 14 2.3335 13.55 2.3335 13V4L9.2735 8.34C9.9235 8.75 10.7435 8.75 11.3935 8.34L18.3335 4V13C18.3335 13.55 17.8835 14 17.3335 14ZM10.3335 7L2.3335 2H18.3335L10.3335 7Z" fill="#00AEEF"/>
          </svg>
        </a>
      </span>
    </div>
		{# jezik #}
		<div class="header-kontakt flex align-items-center margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-m--right-18 margin-s--right-none">
        <span onclick="toggle_language()" class="{{'_eng' in (_GET['0']) ? 'font-grey' : 'font-white'}} font-14">SRP</span>
				<span class="font-14 font-grey">/</span>
				<span onclick="toggle_language()" class="{{'_eng' in (_GET['0']) ? 'font-white' : 'font-grey'}} font-14 padding-xxl--right-24">EN</span>
        <span>
        <a href="kontakt">
          <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
					<g clip-path="url(#clip0_81_2)">
					<path d="M11.988 0C5.364 0 0 5.376 0 12C0 18.624 5.364 24 11.988 24C18.612 24 24 18.624 24 12C24 5.376 18.624 0 11.988 0ZM20.304 7.2H16.764C16.38 5.7 15.828 4.26 15.108 2.928C17.316 3.684 19.152 5.22 20.304 7.2ZM12 2.448C12.996 3.888 13.776 5.484 14.292 7.2H9.708C10.224 5.484 11.004 3.888 12 2.448ZM2.712 14.4C2.52 13.632 2.4 12.828 2.4 12C2.4 11.172 2.52 10.368 2.712 9.6H6.768C6.672 10.392 6.6 11.184 6.6 12C6.6 12.816 6.672 13.608 6.768 14.4H2.712ZM3.696 16.8H7.236C7.62 18.3 8.172 19.74 8.892 21.072C6.684 20.316 4.848 18.792 3.696 16.8ZM7.236 7.2H3.696C4.848 5.208 6.684 3.684 8.892 2.928C8.172 4.26 7.62 5.7 7.236 7.2ZM12 21.552C11.004 20.112 10.224 18.516 9.708 16.8H14.292C13.776 18.516 12.996 20.112 12 21.552ZM14.808 14.4H9.192C9.084 13.608 9 12.816 9 12C9 11.184 9.084 10.38 9.192 9.6H14.808C14.916 10.38 15 11.184 15 12C15 12.816 14.916 13.608 14.808 14.4ZM15.108 21.072C15.828 19.74 16.38 18.3 16.764 16.8H20.304C19.152 18.78 17.316 20.316 15.108 21.072ZM17.232 14.4C17.328 13.608 17.4 12.816 17.4 12C17.4 11.184 17.328 10.392 17.232 9.6H21.288C21.48 10.368 21.6 11.172 21.6 12C21.6 12.828 21.48 13.632 21.288 14.4H17.232Z" fill="#29AAE1"/>
					</g>
					<defs>
					<clipPath id="clip0_81_2">
					<rect width="24" height="24" fill="white"/>
					</clipPath>
					</defs>
					</svg>
        </a>
      </span>
    </div>
    <div class="header-mobile flex align-items-center margin-l--left-60 margin-l--right-24 margin-m--right-24 margin-m--left-18" onclick="toggle_menu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" id="ham">
      <style>
        .inactive {
          fill: #4D4D4D;
          transition: fill 0.6s ease;
        }
        .active {
          fill: #00AEEF;
          transition: fill 0.6s ease;
        }
      </style>
        <rect class="inactive" x="21.3333" y="0.0649414" width="2.40001" height="2.6665" transform="rotate(90 21.3333 0.0649414)" />
        <rect class="inactive" x="21.3333" y="8.46484" width="2.4" height="2.6665" transform="rotate(90 21.3333 8.46484)" />
        <rect class="inactive" x="21.3333" y="16.8647" width="2.4" height="2.6665" transform="rotate(90 21.3333 16.8647)" />
        <rect class="inactive" x="12" y="0.0649414" width="2.4" height="2.66663" transform="rotate(90 12 0.0649414)" />
        <rect class="inactive" x="12" y="8.46484" width="2.4" height="2.66663" transform="rotate(90 12 8.46484)" />
        <rect class="inactive" x="12" y="16.8647" width="2.4" height="2.66663" transform="rotate(90 12 16.8647)" />
        <rect class="inactive" x="2.66675" y="0.0649414" width="2.4" height="2.66675" transform="rotate(90 2.66675 0.0649414)" />
        <rect class="inactive" x="2.66675" y="8.46484" width="2.4" height="2.66675" transform="rotate(90 2.66675 8.46484)" />
        <rect class="inactive" x="2.66675" y="16.8647" width="2.4" height="2.66675" transform="rotate(90 2.66675 16.8647)" />
      </svg>
    </div>
  </nav>
  <div class="mobile mobile-hidden background-black-light" id="mobilemenu">
	{% if '_eng' in (_GET['0']) %}
    <div class="mobile-inner flex flex-column align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="o_nama_eng">ABOUT US</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="usluge_eng">SERVICES</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="portfolio_eng">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="blog_eng">BLOG</a></div>
      {# <div class="font-14 font-grey padding-xxl--bottom-10-per"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="digitalni_recnik_eng">DIGITAL GLOSSARY</a></div>
    </div>
		{% else %}
		<div class="mobile-inner flex flex-column align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="o_nama">O NAMA</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="usluge">USLUGE</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="portfolio">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="blog">BLOG</a></div>
      {# <div class="font-14 font-grey padding-xxl--bottom-10-per"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
    </div>
		{% endif %}
  </div>

  {% block content %}{% endblock %}

  {% set link = _GET['0'] %}
  {% if link != 'kontakt' %}
  <div class="callme background-blue display--xxl-none display--m-flex"><a class="flex align-items-center justify-content-center" href="tel:+381637050225"><img src="./images/icons/phone-24px.svg" /></a></div>
  <footer class="footer background-black-light">
    <div class="footer-top flex align-items-end margin-xxl--left-180 margin-xxl--right-180 margin-xl--left-135 margin-xl--right-135 margin-l--left-180 margin-l--right-180 margin-s--left-none margin-s--right-none">
      <span class="margin-xxl--bottom-60 margin-l--bottom-100 margin-s--bottom-80"><img src="images/logo.svg"/></span>
      <span class="font-24 font-white padding--left-10 margin-xxl--bottom-60 margin-l--bottom-100 margin-s--bottom-80 margin-xxl--left-10">Marketer</span>
    </div>
    <div class="footer-bottom flex flex-direction flex--l-direction">
      <div class="footer-bottom--left flex justify-content-around justify-content--l-between flex--s-direction margin-xxl--left-180 margin-xl--left-135 margin-l--left-180 margin-m--left-90 margin-l--right-180 margin-m--right-90 margin-s--bottom-100 margin-s--left-none margin-s--right-none">
        {% if '_eng' in (_GET['0']) %}
				<div class="footer-bottom--left-col info_menu flex flex-column justify-content-start">
          <div class="margin-xxl--bottom-48">
            {# <p class="font-14 font-grey--mid">Damjan Tasic</p> #}
            <p class="font-14 font-grey--mid"><a href="mailto:office@marketer.rs">office@marketer.rs</a></p>
          </div>
          <div>
            <p class="font-14 font-grey--mid">Social media</p>
            <a href="https://www.facebook.com/MarketerDigitalAdvertising" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Facebook</a>
            <a href="https://www.instagram.com/marketer_digital_advertising/" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Instagram</a>
            <a href="https://www.linkedin.com/company/marketer-digital-advertising/about/" target="_blank" class="font-14 font-grey--mid">LinkedIn</a>
          </div>
					
          <div class="margin-xxl--top-24 margin-l--bottom-24"><p class="font-14 font-grey--mid"><a href="privacy_eng">Privacy policy </a></p></div>			
				</div>
				{% else %}
				<div class="footer-bottom--left-col info_menu flex flex-column justify-content-start">
          <div class="margin-xxl--bottom-48">
            {# <p class="font-14 font-grey--mid">Damjan Tasic</p> #}
            <p class="font-14 font-grey--mid"><a href="mailto:office@marketer.rs">office@marketer.rs</a></p>
          </div>
          <div>
            <p class="font-14 font-grey--mid">Društvene mreže</p>
            <a href="https://www.facebook.com/MarketerDigitalAdvertising" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Facebook</a>
            <a href="https://www.instagram.com/marketer_digital_advertising/" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Instagram</a>
            <a href="https://www.linkedin.com/company/marketer-digital-advertising/about/" target="_blank" class="font-14 font-grey--mid">LinkedIn</a>
          </div>
					
          <div class="margin-xxl--top-24 margin-l--bottom-24"><p class="font-14 font-grey--mid"><a href="privacy">Politika privatnosti </a></p></div>			
				</div>
				{% endif %}	
        <div class="footer-bottom--left-col address_menu flex flex-column justify-content-start">
          <div class="margin-xxl--bottom-48">
            <p class="font-14 font-grey--mid">Mosorska 7</p>
            <p class="font-14 font-grey--mid">11 000 Belgrade, Serbia</p>
          </div>
          <div class="font-14 font-grey--mid">
            <p class="font-14 font-grey--mid "><a href="tel:+38111 3980 350">(381) 11 3980 350</a></p>
            <p class="font-14 font-grey--mid "><a href="tel:+381637050225">(381) 63 7050 225</a></p>
          </div>
        </div>
      </div>
			{% if '_eng' in (_GET['0']) %}
      <div class="footer-bottom--right flex justify-content-around justify-content--l-between flex-direction flex--s-column  margin-xxl--left-180 margin-xxl--right-180 margin-xl--left-135 margin-l--left-180 margin-m--left-90 margin-xl--right-135 margin-l--right-180 margin-m--right-90 margin-s--left-none margin-s--right-none">
        <div class="footer-bottom--right-col menu_menu flex flex-column justify-content-start">
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="o_nama_eng">ABOUT US</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="portfolio_eng">PORTFOLIO</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="blog_eng">BLOG</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="digitalni_recnik_eng">DIGITAL GLOSSARY</a></div>
        </div>
        <div class="footer-bottom--right-col usluge_menu flex flex-column justify-content-start">
          <div class="font-14 font-white margin-xxl--bottom-24"><a href="usluge_eng">SERVICES</a></div>
          {# <div class="font-14 font-grey--mid margin-xxl--bottom-24 prazan"></div> #}
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="google_oglasavanje_eng">GOOGLE ADVERTISING</a></div>

          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="drustvene_mreze_eng">FACEBOOK ADVERTISING</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="web_oglasavanje_eng">WEB ADVERTISING</a></div>
        </div>
      </div>
			{% else %}
			<div class="footer-bottom--right flex justify-content-around justify-content--l-between flex-direction flex--s-column  margin-xxl--left-180 margin-xxl--right-180 margin-xl--left-135 margin-l--left-180 margin-m--left-90 margin-xl--right-135 margin-l--right-180 margin-m--right-90 margin-s--left-none margin-s--right-none">
        <div class="footer-bottom--right-col menu_menu flex flex-column justify-content-start">
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="o_nama">O NAMA</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="portfolio">PORTFOLIO</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="blog">BLOG</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
        </div>
        <div class="footer-bottom--right-col usluge_menu flex flex-column justify-content-start">
          <div class="font-14 font-white margin-xxl--bottom-24"><a href="usluge">USLUGE</a></div>
          {# <div class="font-14 font-grey--mid margin-xxl--bottom-24 prazan"></div> #}
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="google_oglasavanje">GOOGLE OGLAŠAVANJE</a></div>

          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="drustvene_mreze">FACEBOOK OGLAŠAVANJE</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="web_oglasavanje">WEB OGLAŠAVANJE</a></div>
        </div>
      </div>
			{% endif %}
    </div>
  </footer>
  {% endif %}
   <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/social.js"></script>
  {% if link == 'kontakt' %}
    <script src="./js/contact.js"></script>
  {% endif %}
  {% if link != 'kontakt' %}
    <script src="./js/contact_shared.js"></script>
  {% endif %}
  <script src="./js/about.js"></script>
  <script src="./js/typing_effect.js"></script>

  <script src="fancybox-master/dist/jquery.fancybox.min.js"></script>

  <script src="aos-master/dist/aos.js"></script>

  <script src="owl/owl.carousel.min.js"></script>
  <script>
    var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:false,
            autoplay:false,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            nav:true,
            dots:true,
            animateOut: 'fadeOut',
            hideOnContentClick: 'false'
        });
  </script>

  <script>
    $(document).ready(function() {

      $('[data-fancybox]').fancybox({
        youtube : {
          showinfo : 0
        }
      });
      $('.post--text p:has(img)').css({'margin-left':'-3rem', 'margin-right':'-3rem', 'margin-top':'2em', 'margin-bottom':'2em', 'text-align' : 'center',});
    });
</script>
<script>
  AOS.init({
    once: true
  });
</script>
</body>
</html>
