<!DOCTYPE html>
<html lang="en">
<head>
  <base href="{{_BASE}}">
  <title>Marketer {% block title %}{% endblock %}</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="{% block description %}{% endblock %}"/>

    <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-135023891-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-135023891-1');
  </script>

  <!-- Facebook Pixel Code -->
  <script>
    !function(f,b,e,v,n,t,s)
    {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
    n.callMethod.apply(n,arguments):n.queue.push(arguments)};
    if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
    n.queue=[];t=b.createElement(e);t.async=!0;
    t.src=v;s=b.getElementsByTagName(e)[0];
    s.parentNode.insertBefore(t,s)}(window,document,'script',
    'https://connect.facebook.net/en_US/fbevents.js');
    fbq('init', '1997019317018601');
    fbq('track', 'PageView');
  </script>
  <noscript>
    <img height="1" width="1"
    src="https://www.facebook.com/tr?id=1997019317018601&ev=PageView
    https://www.facebook.com/tr?id=1997019317018601&ev=PageView

    &noscript=1"/>
  </noscript>
  <!-- End Facebook Pixel Code -->

  <link rel="stylesheet" href="owl/assets/owl.carousel.min.css" />
  <link rel="stylesheet" href="owl/assets/owl.theme.default.css" />


  <link href="aos-master/dist/aos.css" rel="stylesheet">
  <link rel="stylesheet" href="fancybox-master/dist/jquery.fancybox.min.css" />
  <link rel="stylesheet" type="text/css" href="styles/style.css">
  <link rel="stylesheet" type="text/css" href="cms/sharedstyle.css">
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
  <link rel="icon" href="images/icons/favicon.png">

</head>
<body>
  <nav class="header header-down flex w-100 align-items-center justify-content-between" id="header">
    <div class="header-logo flex align-items-center margin-xxl--left-24 margin-m--left-24">
      <a href="index" class="flex align-items-center">
        <img src="images/logo.svg"/>
        <span class="font-24 font-white margin-xxl--left-10">Marketer</span>
      </a>
    </div>
    <div class="header-meni flex flex-1 align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14"><a href="o_nama">O NAMA</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="usluge">USLUGE</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="portfolio">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="blog">BLOG</a></div>
      {# <div class="font-14 font-grey margin-xxl--left-90 margin-xl--left-40"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 margin-xxl--left-90 margin-xl--left-40"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
    </div>
    <div class="header-kontakt flex align-items-center margin-xxl--right-24 margin-m--right-18 margin-s--right-none">
        <span class="font-14 font-white padding-xxl--right-24"><a href="tel:+381637050225">+381 63 7050 225</a></span>
        <span>
        <a href="kontakt">
          <svg width="21" height="16" viewBox="0 0 21 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M18.3335 0H2.3335C1.2335 0 0.343496 0.9 0.343496 2L0.333496 14C0.333496 15.1 1.2335 16 2.3335 16H18.3335C19.4335 16 20.3335 15.1 20.3335 14V2C20.3335 0.9 19.4335 0 18.3335 0ZM17.3335 14H3.3335C2.7835 14 2.3335 13.55 2.3335 13V4L9.2735 8.34C9.9235 8.75 10.7435 8.75 11.3935 8.34L18.3335 4V13C18.3335 13.55 17.8835 14 17.3335 14ZM10.3335 7L2.3335 2H18.3335L10.3335 7Z" fill="#00AEEF"/>
          </svg>
        </a>
      </span>
    </div>
    <div class="header-mobile flex align-items-center margin-l--left-60 margin-l--right-24 margin-m--right-24" onclick="toggle_menu()">
      <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20" fill="none" id="ham">
      <style>
        .inactive {
          fill: #4D4D4D;
          transition: fill 0.6s ease;
        }
        .active {
          fill: #00AEEF;
          transition: fill 0.6s ease;
        }
      </style>
        <rect class="inactive" x="21.3333" y="0.0649414" width="2.40001" height="2.6665" transform="rotate(90 21.3333 0.0649414)" />
        <rect class="inactive" x="21.3333" y="8.46484" width="2.4" height="2.6665" transform="rotate(90 21.3333 8.46484)" />
        <rect class="inactive" x="21.3333" y="16.8647" width="2.4" height="2.6665" transform="rotate(90 21.3333 16.8647)" />
        <rect class="inactive" x="12" y="0.0649414" width="2.4" height="2.66663" transform="rotate(90 12 0.0649414)" />
        <rect class="inactive" x="12" y="8.46484" width="2.4" height="2.66663" transform="rotate(90 12 8.46484)" />
        <rect class="inactive" x="12" y="16.8647" width="2.4" height="2.66663" transform="rotate(90 12 16.8647)" />
        <rect class="inactive" x="2.66675" y="0.0649414" width="2.4" height="2.66675" transform="rotate(90 2.66675 0.0649414)" />
        <rect class="inactive" x="2.66675" y="8.46484" width="2.4" height="2.66675" transform="rotate(90 2.66675 8.46484)" />
        <rect class="inactive" x="2.66675" y="16.8647" width="2.4" height="2.66675" transform="rotate(90 2.66675 16.8647)" />
      </svg>
    </div>
  </nav>
  <div class="mobile mobile-hidden background-black-light" id="mobilemenu">
    <div class="mobile-inner flex flex-column align-items-center justify-content-center">
      <div class="{{'o_nama' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="o_nama">O NAMA</a></div>
      <div class="{{'usluge' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="usluge">USLUGE</a></div>
      <div class="{{'portfolio' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="portfolio">PORTFOLIO</a></div>
      <div class="{{'blog' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="blog">BLOG</a></div>
      {# <div class="font-14 font-grey padding-xxl--bottom-10-per"><a href="tv">MARKETER TV</a></div> #}
      <div class="{{'digitalni_recnik' == (_GET['0']) ? 'font-blue' : 'font-grey'}} font-14 padding-xxl--bottom-10-per"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
    </div>
  </div>

  {% block content %}{% endblock %}

  {% set link = _GET['0'] %}
  {% if link != 'kontakt' %}
  <div class="callme background-blue display--xxl-none display--m-flex"><a class="flex align-items-center justify-content-center" href="tel:+381637050225"><img src="./images/icons/phone-24px.svg" /></a></div>
  <footer class="footer background-black-light">
    <div class="footer-top flex align-items-end margin-xxl--left-180 margin-xxl--right-180 margin-xl--left-135 margin-xl--right-135 margin-l--left-180 margin-l--right-180 margin-s--left-none margin-s--right-none">
      <span class="margin-xxl--bottom-60 margin-l--bottom-100 margin-s--bottom-80"><img src="images/logo.svg"/></span>
      <span class="font-24 font-white padding--left-10 margin-xxl--bottom-60 margin-l--bottom-100 margin-s--bottom-80 margin-xxl--left-10">Marketer</span>
    </div>
    <div class="footer-bottom flex flex-direction flex--l-direction">
      <div class="footer-bottom--left flex justify-content-around justify-content--l-between flex--s-direction margin-xxl--left-180 margin-xl--left-135 margin-l--left-180 margin-m--left-90 margin-l--right-180 margin-m--right-90 margin-s--bottom-100 margin-s--left-none margin-s--right-none">
        <div class="footer-bottom--left-col info_menu flex flex-column justify-content-start">
          <div class="margin-xxl--bottom-48">
            {# <p class="font-14 font-grey--mid">Damjan Tasic</p> #}
            <p class="font-14 font-grey--mid"><a href="mailto:office@marketer.rs">office@marketer.rs</a></p>
          </div>
          <div>
            <p class="font-14 font-grey--mid">Društvene mreže</p>
            <a href="https://www.facebook.com/MarketerDigitalAdvertising" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Facebook</a>
            <a href="https://www.instagram.com/marketer_digital_advertising/" target="_blank" class="font-14 font-grey--mid margin-xxl--right-24">Instagram</a>
            <a href="https://www.linkedin.com/company/marketer-digital-advertising/about/" target="_blank" class="font-14 font-grey--mid">LinkedIn</a>
          </div>
          <div class="margin-xxl--top-24 margin-l--bottom-24"><p class="font-14 font-grey--mid"><a href="privacy">Politika privatnosti</a></p></div>
        </div>
        <div class="footer-bottom--left-col address_menu flex flex-column justify-content-start">
          <div class="margin-xxl--bottom-48">
            <p class="font-14 font-grey--mid">Mosorska 7</p>
            <p class="font-14 font-grey--mid">11 000 Belgrade, Serbia</p>
          </div>
          <div class="font-14 font-grey--mid">
            <p class="font-14 font-grey--mid "><a href="tel:+38111 3980 350">(381) 11 3980 350</a></p>
            <p class="font-14 font-grey--mid "><a href="tel:+381637050225">(381) 63 7050 225</a></p>
          </div>
        </div>
      </div>
      <div class="footer-bottom--right flex justify-content-around justify-content--l-between flex-direction flex--s-column  margin-xxl--left-180 margin-xxl--right-180 margin-xl--left-135 margin-l--left-180 margin-m--left-90 margin-xl--right-135 margin-l--right-180 margin-m--right-90 margin-s--left-none margin-s--right-none">
        <div class="footer-bottom--right-col menu_menu flex flex-column justify-content-start">
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="o_nama">O NAMA</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="portfolio">PORTFOLIO</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="blog">BLOG</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="digitalni_recnik">DIGITALNI REČNIK</a></div>
        </div>
        <div class="footer-bottom--right-col usluge_menu flex flex-column justify-content-start">
          <div class="font-14 font-white margin-xxl--bottom-24"><a href="usluge">USLUGE</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24 prazan"></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="google_oglasavanje">GOOLGE OGLAŠAVANJE</a></div>

          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="drustvene_mreze">FACEBOOK OGLAŠAVANJE</a></div>
          <div class="font-14 font-grey--mid margin-xxl--bottom-24"><a href="web_oglasavanje">WEB OGLAŠAVANJE</a></div>
        </div>
      </div>
    </div>
  </footer>
  {% endif %}
   <script src="https://code.jquery.com/jquery-3.3.1.js"  crossorigin="anonymous"></script>
  <script src="./js/menu.js"></script>
  <script src="./js/social.js"></script>
  {% if link == 'kontakt' %}
    <script src="./js/contact.js"></script>
  {% endif %}
  {% if link != 'kontakt' %}
    <script src="./js/contact_shared.js"></script>
  {% endif %}
  <script src="./js/about.js"></script>
  <script src="./js/typing_effect.js"></script>

  <script src="fancybox-master/dist/jquery.fancybox.min.js"></script>

  <script src="aos-master/dist/aos.js"></script>

  <script src="owl/owl.carousel.min.js"></script>
  <script>
    var owl = $('.owl-carousel');
        owl.owlCarousel({
            items:1,
            loop:false,
            autoplay:false,
            autoplayTimeout:3000,
            autoplayHoverPause:true,
            nav:true,
            dots:true,
            animateOut: 'fadeOut',
            hideOnContentClick: 'false'
        });
  </script>

  <script>
    $(document).ready(function() {

      $('[data-fancybox]').fancybox({
        youtube : {
          showinfo : 0
        }
      });
      $('.post--text p:has(img)').css({'margin-left':'-3rem', 'margin-right':'-3rem', 'margin-top':'2em', 'margin-bottom':'2em', 'text-align' : 'center',});
    });
</script>
<script>
  AOS.init({
    once: true
  });
</script>
</body>
</html>
