
{% set Post = fetch("Post") %}

    <div class="gallery-blog background-black-light flex flex-column">
        <div class="gallery-blog-big flex flex--l-direction margin-xxl--left-24 margin-m--left-18 margin-l--right-24 margin-m--right-18 padding-xxl--top-100 padding-l--top-70 padding-xxl--bottom-24 padding-l--bottom-70">

        {% for item in Post %}
            {% if loop.index < 2 %}
            <div class="gallery-blog-big-pic" style="background-image: url('img/{{item.Image}}');"></div>
            <div class="gallery-blog-big-txt flex flex-1 flex-column padding-xxl--left-90 padding-xl--left-70 padding-m--left-none padding-xxl--right-90 padding-xl--right-70 padding-m--right-none padding-m--top-18 padding-s--top-46 padding-m--bottom-18">
                <div class="gallery-blog-big-txt-title font-32 font-white margin-xxl--bottom-2_5-per margin-l--bottom-50">{{item.Title}}</div>
                <div class="gallery-blog-big-txt-text font-16 font-white margin-xxl--bottom-10-per margin-l--bottom-50">{{item.Short | raw }}</div>
                <div class="flex">
                    <button class="button-midd button-border-blue background-black-light font-white font-14"> 
                        <a href="post/{{item.Slug}}">VIŠE</a>
                    </button>
                </div>
            </div>
            {% endif %}
        {% endfor %}

        </div>
        <div class="gallery-blog-small padding-xxl--top-24 padding-m--top-18 padding-xxl--bottom-24 padding-m--bottom-18 margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-m--right-18 flex justify-content-between">
        {% for item in Post %}
            {% if loop.index > 1 and loop.index < 6 %}
            <div class="gallery-blog-small-part flex flex-column margin-l--bottom-24">
                <div class="gallery-blog-small-part-pic" style="background-image: url('img/{{item.Image}}');">
                    <div class="gallery-blog-small-part-pic-text flex flex-column justify-content-end">
                        <div class="gallery-blog-small-part-pic-text-title font-16 font-white margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-m--right-18 margin-xxl--bottom-24 margin-m--bottom-18 text-center">{{item.Short | raw }}</div>
                        <div class="margin-l--left-24 margin-m--left-18 margin-l--right-24 margin-m--right-18  padding-xxl--bottom-24 padding-m--bottom-18  text-center">
                            <button class="button-midd button-border-blue background-black-light font-white font-14"><a href="post/{{item.Slug}}">VIŠE</a></button>
                        </div>
                    </div>
                </div>
            </div>
            {% endif %}
        {% endfor %}
        </div>
        <div class="flex justify-content-center">
            <button class="button-midd background-blue font-white font-14 margin-xxl--top-100 margin-xxl--bottom-100"><a href="blog">VIŠE</a></button>
        </div>
    </div>
