{% extends "base.twig" %}
{# {% block description %}All posts{% endblock %} #}
{% block content %}
  <div class="home flex flex-column" style="background-image: url('./images/iceberg.png');">

    <div class="home-hero margin-xxl--top-100 margin-l--top-50">
      <div class="home-video flex background-black-light">
        <div class="home-video--description flex align-items-center justify-content-center"><p class="font-white font-12 padding-xxl--left-24 padding-xxl--right-24">Lorem Ipsum is simply dummy text...</p></div>
        {% set full_address = 'https://www.youtube.com/watch?v=NxVdZNzjbXw' | split('?v=') %}
        {% set adress = full_address[1] %}
        <div class="home-video--preview" style="background-image: url('https://img.youtube.com/vi/{{ adress }}/default.jpg');background-size: cover; background-position: center; background-repeat: no-repeat;"></div>
      </div>
      <div class="home-hero-cont flex flex-column margin-xxl--top-100 margin-l--top-50 padding-xxl--left-180 padding-xl--left-135 padding-m--left-60 padding-xxl--right-180 padding-xl--right-135 padding-m--right-60 padding-s--left-24 padding-s--right-24">
      <div class="home-line line-big background-blue"></div>

        <div class="home-hero--title margin-l--top-50 margin-s--top-60 ">
          <div class="flex align-items-center">
            <div class="font-64 font-white margin-xxl--right-24 letter-spacing--0_4">Unapredite</div><div class="line-big background-blue"></div>
          </div>
          <div class="font-64 font-white letter-spacing--0_4">vaš internet marketing</div>
        </div>

        <div class="home-hero--text font-24 font-white margin-xxl--top-24 margin-l--top-46 margin-m--top-46 margin-s--top-46 margin-xxl--bottom-100 margin-l--bottom-50 margin-m--bottom-50">Kreiramo i implementiramo vrhunske online kampanje koje daju rezultat.</div>
        <button class="button-big flex align-items-center justify-content-center background-blue"><a href="usluge"><div class="font-white font-14">Kako mi to radimo</div></a></button>
        <div class="home-hero--social margin-xxl--top-100 margin-l--top-70 margin-l--top-50 margin-s--top-50 margin-xxl--bottom-100 margin-l--bottom-50 margin-m--bottom-100 flex align-items-center">
          <span class="home-hero--social-link margin-xxl--right-100 margin-l--right-60 margin-s--right-36">
          <svg xmlns="http://www.w3.org/2000/svg" width="120" height="38" viewBox="0 0 120 38" fill="none">
            <path d="M14.7792 0H15.8463C19.551 0.0781322 23.1953 1.52358 25.8128 4.08241C24.8464 5.03953 23.8598 5.95758 22.9135 6.9147C21.4437 5.62552 19.6718 4.62933 17.7389 4.27774C14.8799 3.69175 11.7993 4.21914 9.40332 5.80132C6.78586 7.46162 5.01404 10.2744 4.63148 13.2825C4.20866 16.2515 5.07444 19.3768 7.06774 21.6817C8.9805 23.928 11.9 25.3344 14.9201 25.432C17.7389 25.5883 20.6786 24.7484 22.7323 22.8341C24.343 21.4864 25.088 19.4354 25.3296 17.443C21.9873 17.443 18.645 17.4625 15.3027 17.443V13.4192H29.3766C30.1014 17.736 29.0544 22.5997 25.6719 25.686C23.4168 27.8737 20.296 29.1628 17.1148 29.4168C14.0342 29.7098 10.853 29.1433 8.11473 27.6979C4.83283 25.9985 2.21536 23.1271 0.926766 19.7479C-0.281295 16.6422 -0.301429 13.1262 0.826094 10.0009C1.85295 7.1491 3.82611 4.62933 6.36304 2.87136C8.79929 1.13292 11.759 0.175797 14.7792 0Z" fill="white"/>
            <path d="M95.5181 1.01514H99.8268V28.9083C98.3973 28.9083 96.9476 28.9279 95.5181 28.8888C95.5382 19.6106 95.5181 10.3129 95.5181 1.01514Z" fill="white"/>
            <path d="M38.961 10.6835C41.6187 10.1952 44.4979 10.7421 46.6925 12.2852C48.6858 13.6526 50.0751 15.8012 50.4979 18.1452C51.0416 20.8602 50.357 23.8293 48.5449 25.9779C46.5919 28.3805 43.3905 29.6697 40.2697 29.4743C37.4106 29.3181 34.6321 27.9312 32.9408 25.6654C31.028 23.1651 30.5649 19.7273 31.6119 16.7974C32.6589 13.6526 35.6187 11.25 38.961 10.6835ZM39.565 14.3948C38.4777 14.6683 37.471 15.2738 36.7462 16.1332C34.7931 18.3991 34.914 22.0908 37.0683 24.2004C38.2965 25.4114 40.1489 25.9779 41.8603 25.6458C43.4509 25.3724 44.8402 24.3371 45.6053 22.9698C46.9342 20.6454 46.5516 17.442 44.518 15.6254C43.2093 14.4534 41.2965 13.9651 39.565 14.3948Z" fill="white"/>
            <path d="M60.3023 10.684C63.3426 10.1175 66.6647 10.9379 68.9399 13.0084C72.6446 16.2314 73.0473 22.2671 69.8862 25.9784C67.9735 28.3223 64.8728 29.6115 61.8124 29.4748C58.8929 29.3966 56.0137 27.9903 54.2821 25.6658C52.3291 23.107 51.9063 19.5911 53.0136 16.6025C54.121 13.5553 57.0204 11.2309 60.3023 10.684ZM60.9063 14.3953C59.8191 14.6687 58.8123 15.2743 58.0875 16.1142C56.1546 18.3409 56.2351 21.9741 58.309 24.1032C59.5372 25.3728 61.4499 25.9979 63.2218 25.6463C64.7922 25.3533 66.2016 24.3376 66.9667 22.9703C68.2755 20.6263 67.8929 17.4229 65.8392 15.6063C64.5305 14.4343 62.6177 13.9655 60.9063 14.3953Z" fill="white"/>
            <path d="M78.4028 11.8165C80.7183 10.4102 83.7988 10.0195 86.2955 11.2305C87.0807 11.5626 87.725 12.1291 88.3492 12.6955C88.3693 12.1681 88.3492 11.6212 88.3693 11.0743C89.7183 11.0938 91.0673 11.0743 92.4365 11.0938V28.322C92.4163 30.9199 91.7318 33.674 89.7989 35.5687C87.6848 37.6588 84.4431 38.3033 81.5237 37.8736C78.4028 37.4244 75.6847 35.2171 74.4766 32.4239C75.6847 31.8574 76.9532 31.4082 78.2015 30.8808C78.9062 32.4825 80.3357 33.8498 82.1277 34.1623C83.9196 34.4749 85.9935 34.0451 87.1613 32.5997C88.4096 31.1152 88.4096 29.0837 88.3492 27.2672C87.423 28.1462 86.3559 28.9275 85.0673 29.2205C82.2686 29.9823 79.1881 29.0447 77.0337 27.2086C74.8592 25.3725 73.5706 22.5402 73.6914 19.7274C73.7518 16.5435 75.6042 13.4768 78.4028 11.8165ZM82.5706 14.3168C81.3425 14.5121 80.1948 15.1762 79.4096 16.0943C77.5169 18.282 77.5169 21.7784 79.4297 23.927C80.5169 25.1967 82.2686 25.8999 83.9599 25.7241C85.5505 25.5678 87.0203 24.5911 87.8056 23.2434C89.1344 20.958 88.913 17.8522 87.121 15.8599C86.0136 14.6293 84.2418 14.0238 82.5706 14.3168Z" fill="white"/>
            <path d="M105 12.8132C107.416 10.6255 111.141 9.88324 114.242 11.0357C117.181 12.11 119.054 14.8251 120 17.6183C115.631 19.3763 111.282 21.1147 106.913 22.8727C107.517 23.9861 108.443 25.0018 109.691 25.412C111.443 26.0175 113.537 25.8027 115.007 24.6698C115.591 24.24 116.054 23.6736 116.497 23.1266C117.604 23.8494 118.712 24.5526 119.819 25.2753C118.248 27.5607 115.611 29.1624 112.772 29.4163C109.631 29.7874 106.289 28.6154 104.255 26.2324C100.913 22.4821 101.235 16.1924 105 12.8132ZM107.154 16.4268C106.47 17.3839 106.188 18.5559 106.208 19.7084C109.128 18.5364 112.047 17.3644 114.967 16.1729C114.483 15.079 113.316 14.4149 112.128 14.2391C110.215 13.907 108.222 14.9032 107.154 16.4268Z" fill="white"/>
          </svg>
          </span>
          <span class="home-hero--social-link">
            <svg xmlns="http://www.w3.org/2000/svg" width="146" height="28" viewBox="0 0 146 28" fill="none">
              <path d="M11.3844 4.37432C9.66716 4.37432 9.17956 5.12959 9.17956 6.78697V9.53528H13.7799L13.3241 13.9829H9.17956V27.4728H3.68879V13.9829H0V9.53528H3.68879V6.8604C3.68879 2.37078 5.52258 9.34871e-05 10.6 9.34871e-05C11.6629 -0.00277316 12.725 0.060289 13.7799 0.188909V4.38481L11.3844 4.37432Z" fill="white"/>
              <path d="M14.1284 17.9375C14.1284 12.9233 16.524 9.15753 21.5484 9.15753C22.6377 9.09616 23.7201 9.36436 24.6517 9.92649C25.5833 10.4886 26.3199 11.318 26.7636 12.3045V9.53516H32.0636V27.4726H26.7636V24.7558C26.3186 25.7369 25.5797 26.559 24.6468 27.1107C23.714 27.6623 22.6323 27.9168 21.5484 27.8398C16.524 27.8398 14.1284 24.074 14.1284 19.0703V17.9375ZM19.6086 19.1438C19.6086 21.8187 20.5944 23.5914 23.149 23.5914C25.3962 23.5914 26.541 21.9655 26.541 19.3955V17.5913C26.541 15.0318 25.3962 13.3954 23.149 13.3954C20.5944 13.3954 19.6086 15.1682 19.6086 17.843V19.1438Z" fill="white"/>
              <path d="M43.4605 9.15746C45.3058 9.06766 47.1402 9.48519 48.7604 10.3638L47.5414 14.203C46.3978 13.667 45.1498 13.3842 43.8845 13.3743C40.9165 13.3743 39.6445 15.0737 39.6445 17.9689V19.0178C39.6445 21.9235 40.9377 23.6123 43.8845 23.6123C45.1504 23.6077 46.3996 23.3246 47.5414 22.7837L48.7604 26.6334C47.1372 27.5032 45.3043 27.9168 43.4605 27.8292C37.0263 27.8292 34.1007 24.4096 34.1007 18.9024V18.0738C34.0795 12.5876 37.0051 9.15746 43.4605 9.15746Z" fill="white"/>
              <path d="M49.417 19.1755V17.5915C49.417 12.5145 52.3532 9.19971 58.3316 9.19971C63.9601 9.19971 66.4405 12.5879 66.4405 17.5915V20.4552H54.8972C55.0138 22.9098 56.1162 24.0008 59.1372 24.0008C61.1266 24.0197 63.1016 23.6637 64.9565 22.9518L65.9423 26.6756C63.7126 27.5892 61.3169 28.0391 58.904 27.9973C52.0034 27.882 49.417 24.4518 49.417 19.1755ZM54.8972 16.8467H61.4798V16.3852C61.4798 14.4341 60.6848 12.8816 58.2998 12.8816C55.9148 12.8816 54.8972 14.4341 54.8972 16.8467Z" fill="white"/>
              <path d="M86.7719 19.0704C86.7719 24.074 84.334 27.8398 79.352 27.8398C78.2433 27.915 77.1371 27.6618 76.1744 27.1126C75.2116 26.5633 74.4359 25.7429 73.946 24.7558V27.4727H68.7202V0.524488L74.2004 0V12.0213C74.6898 11.1135 75.43 10.3622 76.3347 9.85511C77.2394 9.34803 78.2712 9.1061 79.3096 9.15756C84.334 9.15756 86.7295 12.9234 86.7295 17.9375L86.7719 19.0704ZM81.2812 17.8326C81.2812 15.3046 80.2954 13.4269 77.6666 13.4269C75.4194 13.4269 74.2004 15.0108 74.2004 17.5703V19.448C74.2004 22.018 75.4194 23.6439 77.6666 23.6439C80.2954 23.6439 81.2812 21.7558 81.2812 19.2277V17.8326Z" fill="white"/>
              <path d="M88.5947 18.9547V18.0525C88.5947 12.8811 91.5627 9.15723 97.6153 9.15723C103.668 9.15723 106.636 12.8811 106.636 18.0525V18.9547C106.636 24.1156 103.668 27.8395 97.6153 27.8395C91.5627 27.8395 88.5947 24.1261 88.5947 18.9547ZM101.156 17.6749C101.156 15.2937 100.17 13.4161 97.6153 13.4161C95.0607 13.4161 94.0749 15.2937 94.0749 17.6749V19.3323C94.0749 21.703 95.0713 23.5911 97.6153 23.5911C100.159 23.5911 101.156 21.703 101.156 19.3323V17.6749Z" fill="white"/>
              <path d="M108.469 18.9547V18.0525C108.469 12.8811 111.437 9.15723 117.489 9.15723C123.542 9.15723 126.51 12.8811 126.51 18.0525V18.9547C126.51 24.1156 123.542 27.8395 117.489 27.8395C111.437 27.8395 108.469 24.1261 108.469 18.9547ZM121.03 17.6749C121.03 15.2937 120.044 13.4161 117.489 13.4161C114.935 13.4161 113.949 15.2937 113.949 17.6749V19.3323C113.949 21.703 114.935 23.5911 117.489 23.5911C120.044 23.5911 121.03 21.703 121.03 19.3323V17.6749Z" fill="white"/>
              <path d="M134.047 18.0843L139.453 9.53519H145.283L139.612 18.3885L145.516 27.4727H139.686L134.047 18.6928V27.4727H128.567V0.524488L134.047 0V18.0843Z" fill="white"/>
            </svg>
        </span>
        </div>
      </div>
    </div>
  </div>
  <div class="usluge_mini background-grey-lighter flex flex-column align-items-center justify-content-center w-100">
    <div class="font-24 font-grey margin-xxl--top-100 w-75 w--l-100 margin-l--left-60 margin-l--right-60 text-center">Istina je da su potrošači postali zahtevni kao nikada pre, ali marketari nikada nisu imali više mogućnosti da zadovolje njihove potrebe. </div>
    <button class="button-midd flex align-items-center justify-content-center background-blue margin-xxl--top-48 margin-xxl--bottom-100"><a href="usluge"><div class="font-14 font-white">Naše usluge</div></a></button>
  </div>
  {{ include('projekti.twig') }}
  <div class="projekti-button flex justify-content-center">

      <button style="margin: 0;" class="button-midd background-blue font-white font-14">
        <a href="portfolio">VIŠE</a></button>

  </div>
  {{ include('testimonials.twig') }}
  {# {{ include('klijenti.twig') }} #}
  {{ include('blog-gallery.twig') }}
  {{ include('contact_shared.twig') }}
{% endblock %}
