{% extends "base.twig" %}
{% set item = fetch("Title_Description", {"id": _GET['0']})[0] %}
{% block title %} | {{item.Title}}{% endblock %}
{% block description %}{{item.Descriprion}}{% endblock %}
{% block content %}

  <div class="position background-black-lighter flex flex-column justify-content-center align-items-center padding-xxl--top-100 padding-xxl--bottom-100">
    <div class="post font-46 font-white margin-xxl--bottom-60 margin-l--left-24 margin-l--right-24 text--l-center padding-l--left-180 padding-l--right-180 padding-m--left-90 padding-m--right-90 padding-s--left-none padding-s--right-none">Privacy policy</div>
    <div class="post font-16 font-white margin-l--left-24 margin-l--right-24 text--l-center"></div>
  </div>


  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Your agreement to this privacy policy</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">We kindly ask you to read our privacy policy carefully. We have obliged ourselves to protect the privacy of your personal data you provide us with by using this website. We apply generally accepted standards of technological and operative security in order to protect your personal details from loss, misuse, modifications, or destruction. By using this site you give us approval of collecting, using and feeding your personal data in a way described in this privacy policy and other places on the website. If you do not agree with some of our terms in this privacy policy, we kindly ask you not to leave any personal data on this website.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Collecting personal data</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">When you visit our website, you will be able to leave us your personal data which will enable you to use the services we offer to you, such as a request for additional information or online/electronic request application. These data may include information which may be justifiably used as parameters for your personal identification, such as your name, family name, telephone number, email address or any other personal information. Bear in mind that if you do not want to give these data voluntarily, we will not download or gather your personal data we get during your visit to the website.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Cookies</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">This website may use cookies in order to identify you or your interests and to track the website usage. Cookies are actually short texts preserved on your computer on the basis of which we know which search engine you use, where you have been on the site, or on websites you can link to in order to use some of our content. Such information helps us improve or adjust our website to the needs in our users’ favour. Cookies also show us whether you are registered with us and enable us to connect your temporary stay on our site to a previous visit or associated sites. The user who does not accept a cookie from the site will not be able to access certain sections on the website. We likewise log IP addresses or computer location on the internet to diagnose problems with the server and manage the website more easily.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Using your personal information</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Your personal data you provide us with will be used only for those purposes and in a way in which we obliged ourselves when you provided your personal data. We may use an email address during sending emails to our visitors or by phone call we may inform our visitors who have provided us with their email address or phone number about the new products, services or events.  We may also use your email address and phone number when we want to contact you about the information you asked from us. We will not disclose, sell, rent, lend, borrow or exchange your personal data with any other person, organization or natural person, except to that extent in which it is necessary in order to provide you with the requested information or services. By rule, we will not expose your personal data to a non-linked third person in any way and for any needs unrelated to the services we offer. We would also add that, in certain limited circumstances, Marketer may be legally obliged to expose your personal information as fulfillment of an obligation, ordered by court, referring to certain legal acts or regulative.</p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">E-mail</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">By using our site, you will have an opportunity to exchange email messages with us. Before you do anything in that respect, bear in mind that as regarding data privacy, computer/electronic forms and email/electronic mail are limited. The information you exchange with us in this manner might not be secure. We keep email addresses provided to us by site users by their free will, through email messages directed to our company or its staff email address. These addresses may be used during informing interested site visitors about events, products, services and other interesting things. Apart from that, through electronic mail we may inform the visitors about recent changes and improved data on our website and provide them with information about new things in the domain of products or services or newsletters. This may be performed by Marketer company itself or through the third party Marketer hires for that purpose. </p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Changes in personal data</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">We want to always have completely accurate and updated personal contact details. You, likewise, have the right to request from us to delete these contact details. In order to change your personal data or contact details or ask us to take on an obligation of deleting the information provided to us through the website in an electronic way, we kindly ask you to send us an email message, write to us or call our customer service. </p>
    </div>
  </div>
  <div class="position flex justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
    <div id="html" class="post--text font-16 font-grey">
      <p class="font-16 font-bold font-black margin-xxl--bottom-60 text-left">Changes in privacy policy</p>
      <p class="font-16 font-black margin-xxl--bottom-60 ">Occasional changes in this privacy policy are possible. We will publish any possible change here, so for that reason, we ask you to check whether there have been any, from time to time.</p>
    </div>
  </div>
  <div class="position background-black-lighter">
    <div class="flex flex-wrap justify-content-center padding-xxl--bottom-100 padding-xxl--top-100 padding-m--bottom-70 padding-m--top-70 margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-l--right-none margin-s--right-18">
      {% set Post = fetch("Post") %}
      {% for item in Post %}
          {% if loop.index < 3 %}
              <div class="blog--part margin-xxl--top-24 margin-xxl--bottom-24" style="background-image: url('img/{{item.Image}}');">
                  <div class="blog--part-grad flex flex-column justify-content-end">
                      <div class="blog--part-grad-text font-16 font-white margin-xxl--left-24 margin-m--left-18 margin-xxl--right-24 margin-m--right-18 margin-xxl--bottom-24 margin-m--bottom-18 text-center">{{item.Short_ENG | raw }}</div>
                      <div class="margin-l--left-24 margin-m--left-18 margin-l--right-24 margin-m--right-18  padding-xxl--bottom-24 padding-m--bottom-18  text-center">
                          <button class="button-midd button-border-blue background-black-light font-white font-14"><a href="post/{{item.Slug_ENG}}">MORE</a></button>
                      </div>
                  </div>
              </div>
          {% endif %}
      {% endfor %}
      </div>
  </div>

{% include 'contact_shared_eng.twig' %}

{% endblock %}
