
{% set Projekti = fetch("Projekti") %}
     
     <div class="projekti flex flex-wrap">
        <div class="projekti--naslov flex align-items-end">
            <div class="font-grey font-46 letter-spacing--0_3 margin-xxl--bottom-24 margin-xxl--left-90 margin-xxl--right-90 margin-xl--left-60 margin-xl--right-60">Our projects</div>
        </div>
        <div class="projekti-grid-1 flex flex-column align-items--l-center">
            <div class="projekti-grid-1-txt font-grey--mid font-24 letter-spacing--0_3 margin-xxl--bottom-24 margin-xxl--left-90 margin-xxl--right-90 margin-xl--left-60 margin-xl--right-60">We are proud of</div>
            <div class="line-big background-blue margin-xxl--left-90 margin-xxl--right-90 margin-xl--left-60 margin-xl--right-60"></div>
        </div>

        <div class="projekti-grid flex"> 
        {% for item in Projekti %}
         {% if loop.index < 5 %}
            <div data-aos="zoom-in" class="projekti-grid-projekat">
                <div class="projekti-grid-projekat-picture">
                    <a href="project/{{item.Slug}}">
                        {# <img src="img/{{item.NaslovnaSlika}}"> #}
                        <div class="projekti-grid-projekat-picture-img" style="background-image: url('img/{{item.NaslovnaSlika}}');"></div>
                    </a>
                    <div class="projekti-grid-projekat-picture-hover flex flex-column justify-content-end align-items-center">
                            <img class="projekti-grid-projekat-picture-hover-logo margin-xxl--bottom-24" src="img/{{item.Logo}}">
                        <div class="font-16 font-white margin-xxl--bottom-60 margin-xl--bottom-48 margin-l--bottom-24 margin-xxl--left-24 margin-xxl--right-24">{{item.Opis_ENG}}</div>
                        
                            <button class="button-midd background-white font-blue font-14 margin-xxl--bottom-60 margin-xl--bottom-48 margin-l--bottom-24">
                                <a href="project/{{item.Slug}}">MORE</a></button>
                        
                        <div class="projekti-grid-projekat-picture-hover-icon flex justify-content-center align-items-start margin-xxl--bottom-48 margin-l--bottom-24">
                            {% if item.Google == 'true' %}
                                <img class="margin-xxl--right-24 margin-xxl--left-24" style="max-height: 100%;" src="images/google-icon.svg">
                            {% endif %}
                            {% if item.Facebook == 'true' %}
                                <img class="margin-xxl--right-24 margin-xxl--left-24" style="max-height: 80%;" src="images/facebook-icon.svg">
                            {% endif %}
                            {% if item.Instagram == 'true' %}
                                <img class="margin-xxl--right-24 margin-xxl--left-24" style="height: 100%;margin-top: 1px;" src="images/instagram-icon.svg">
                            {% endif %}
                            {% if item.Linkendin == 'true' %}
                                <img style="max-height: 90%;" class="margin-xxl--right-24 margin-xxl--left-24" src="images/Linkedin-icon.svg">
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="projekti-grid-projekat-opis flex flex-column justify-content-center">
                    <div class="projekti-grid-projekat-opis-txt font-grey font-32 margin-xxl--left-90 margin-xxl--right-90 margin-xl--left-60 margin-xl--right-60 margin-s--left-24 margin-s--right-24 margin-xxl--bottom-24 margin-xl--bottom-18">{{item.Naziv}} </div>
                    <div class="projekti-grid-projekat-opis-txt font-grey--mid font-16 margin-xxl--left-90 margin-xxl--right-90 margin-xl--left-60 margin-xl--right-60 margin-s--left-24 margin-s--right-24">{{item.Opis_ENG}}</div>
                </div>
            </div>
        {% endif %}
        {% endfor %}
        </div>
    </div>
