{% extends 'base.twig' %}
{% block content %}

{% set item = fetch("Projekti", {"id": _GET['1']})[0] %}


    <div class="position portfolio flex flex-column justify-content-end align-items-center" style="background: linear-gradient(0deg, rgba(21, 21, 21, 0.5), rgba(21, 21, 21, 0.5)), url(img/{{item.NaslovnaSlika}});">
        <div class="font-46 font-white margin-xxl--bottom-24">{{item.Naziv}}</div>
        <div class="font-16 font-white text-center margin-xxl--bottom-48 margin-m--bottom-24 margin-xxl--left-24 margin-xxl--right-24">{{item.Opis}}</div>
        <div class="line-small background-blue text-center margin-xxl--bottom-60 margin-m--bottom-24"></div>
        <div class="portfolio-icon flex justify-content-center align-items-start margin-xxl--bottom-100 margin-l--bottom-50 margin-s--bottom-24 flex-wrap">
            {% if item.Google == 'true' %}
                <span><img data-aos="zoom-in" data-aos-delay="400" style="max-height: 100%;" src="images/google-icon.svg"></span>
            {% endif %}
            {% if item.Facebook == 'true' %}
                <span><img data-aos="zoom-in" data-aos-delay="525" class="margin-xxl--left-24" style="max-height: 75%;" src="images/facebook-icon.svg"></span>
            {% endif %}
            {% if item.Instagram == 'true' %}
                <span><img data-aos="zoom-in" data-aos-delay="550" class="margin-xxl--left-24" style="height: 100%;margin-top: 1px;" src="images/instagram-icon.svg"></span>
            {% endif %}
            {% if item.Linkendin == 'true' %}
                <span><img data-aos="zoom-in" data-aos-delay="575" class="margin-xxl--left-24" style="max-height: 100%;" src="images/Linkedin-icon.svg"></span>
            {% endif %}
        </div>
    </div>


    <div class="position project flex flex--l-direction-reverse align-items-center">
        <div class="flex-2 flex flex-column justify-content-center align-items--l-center margin-s--top-46">
            <div class="font-32 font-grey padding-xxl--left-180 padding-xl--left-135 padding-l--left-100 padding-s--left-36 padding-xxl--right-180 padding-xl--right-135 padding-l--right-100 padding-s--right-36 margin-xxl--bottom-24">Izazov:</div>
            <div class="line-big background-blue margin-xxl--left-180 margin-xl--left-135 margin-l--left-100 margin-s--left-36 margin-xxl--right-180 margin-xl--right-135 margin-l--right-100 margin-s--right-36 margin-xxl--bottom-48"></div>
            <div class="project-izazov-text font-16 font-grey--mid padding-xxl--left-180 padding-xl--left-135 padding-l--left-100 padding-s--left-36 padding-xxl--right-180 padding-xl--right-135 padding-l--right-100 padding-s--right-36 margin-xxl--bottom-48 text--l-center">{{item.Izazov}}</div>
        </div>
        <div class="flex-2 margin-xxl--bottom-100 margin-xxl--top-100 display--s-none">
            <img class="project-img" src="img/{{item.IzazovSlika}}">
        </div>
    </div>


    <div class="position project-zadatak background-black-lighter flex flex--l-direction align-items-center">
        <div class="project-slide">
            <div class="owl-carousel owl-theme project--owl">
            {% set SlikeZadataka = fetch("SlikeZadataka", {parent_id: item.id}) %}
            {% for slike in SlikeZadataka %}
                <div class="project--owl-img margin-xxl--top-100 margin-xxl--bottom-48 margin-xxl--left-180-per" style="background-image: url('img/{{ slike.Slika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;">
                </div>
            {% endfor %}
            </div>
        </div>

        <div class="project--zadatak-left flex flex-column align-items--l-center justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
            <div class="font-32 font-white margin-xxl--bottom-24">Zadatak</div>
            <div class="line-big background-blue margin-xxl--bottom-48"></div>
            <div class="project--zadatak-left-text font-16 font-white margin-xxl--bottom-24 padding-s--left-36 padding-s--right-36 text--l-center">{{item.Zadatak}}</div>
        </div>
    </div>

    <div class="position flex align-items-center flex--l-direction-reverse">
        <div class="project--rezultat-left flex flex-column align-items--l-center justify-content-center margin-xxl--top-48 margin-xxl--bottom-48">
            <div class="font-32 font-grey padding-xxl--left-180 padding-xl--left-135 padding-l--left-none margin-xxl--bottom-24">Rezultat</div>
            <div class="line-big background-blue margin-xxl--left-180 margin-xl--left-135 margin-l--left-none margin-xxl--bottom-48"></div>
            <div class="project--rezultat-left-text font-16 font-grey padding-xxl--left-180 padding-xl--left-135 padding-l--left-none padding-s--left-36 padding-s--right-36 text--l-center">{{item.Rezultat}}</div>
        </div>
        <div class="project--rezultat-right">
            {# <div style="background-image: url('img/{{item.RezultatSlika}}');background-size: cover; background-position: center; background-repeat: no-repeat;"> #}
            <img src="img/{{item.RezultatSlika}}">
        </div>
        </div>
    </div>

    <div class="position flex flex--l-direction justify-content-between align-items-center background-black-light padding-xxl--top-100 padding-xxl--bottom-100 padding-xxl--left-90 padding-xxl--right-90 padding-xl--left-60 padding-xl--right-60">
        <div class="flex flex--l-direction align-items-center justify-content-center project-30 margin-xxl--right-18 margin-l--right-none">
            <div class="font-64 font-white margin-xxl--right-18 margin-l--right-none margin-l--bottom-24">{{item.PosecenostProcenat}}</div>
            {% if item.PosecenostRast == 'true' %}
                <img style="height: 3rem" src="images/up.png">
            {% else %}
                <img style="height: 3rem" src="images/down.png">
            {% endif %}
            <div class="font-16 font-white margin-xxl--left-18 margin-l--left-none margin-l--top-24 margin-l--bottom-24 text--l-center">{{item.PosecenostText}}</div>
        </div>
        <div class="project-line margin-l--top-24 margin-l--bottom-24"></div>
        <div class="flex flex--l-direction align-items-center justify-content-center project-30 margin-xxl--left-18 margin-xxl--right-18">
            <div class="font-64 font-white margin-xxl--right-18 margin-l--right-none margin-l--top-24 margin-l--bottom-24">{{item.ShareProcenat}}</div>
            {% if item.ShareRast == 'true' %}
                <img style="height: 3rem" src="images/up.png">
            {% else %}
                <img style="height: 3rem" src="images/down.png">
            {% endif %}
            <div class="font-16 font-white margin-xxl--left-18 margin-l--left-none margin-xxl--right-18 margin-l--right-none margin-l--top-24 margin-l--bottom-24 text--l-center">{{item.ShareText}}</div>
        </div>
        <div class="project-line margin-l--top-24 margin-l--bottom-24"></div>
        <div class="flex flex--l-direction align-items-center justify-content-center project-30 margin-xxl--left-18 margin-l--left-none">
            <div class="font-64 font-white margin-xxl--right-18 margin-l--right-none margin-l--top-24 margin-l--bottom-24">{{item.CTRprocenat}}</div>
            {% if item.CTRrast == 'true' %}
                <img style="height: 3rem" src="images/up.png">
            {% else %}
                <img style="height: 3rem" src="images/down.png">
            {% endif %}
            <div class="font-16 font-white margin-xxl--left-18 margin-l--left-none margin-l--top-24 margin-l--bottom-24 text--l-center">{{item.CTRtext}}</div>
        </div>
    </div>

{% set prev_proj = fetch ("prev_proj", {id:item.id}) %}
{% set next_proj = fetch ("next_proj", {id:item.id}) %}
{% set Project = fetch ("Projekti") %}

        <div class="position flex background-black-lighter flex--s-direction flex-wrap justify-content-center">
            <div class="flex flex-column project-width">
                <a href="project/{{prev_proj.Slug}}" class="project-prev-next" style="background-image: url('img/{{ prev_proj.NaslovnaSlika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></a>
                <div class="flex flex-column align-items--m-center  margin-xxl--left-90 margin-xl--left-60 margin-m--right-18 margin-m--left-18 margin-xxl--bottom-60 margin-xxl--top-48">
                    <div class="font-32 font-white margin-xxl--bottom-24 text--m-center">{{prev_proj.Naziv}}</div>
                    <div class="project-prev-next-text font-16 font-white text--m-center margin-xxl--bottom-24">{{prev_proj.Opis}}</div>
                    <div class="line-big background-blue"></div>
                </div>
            </div>
            <div class="flex flex-column project-width">
                <a href="project/{{next_proj.Slug}}" class="project-prev-next" style="background-image: url('img/{{ next_proj.NaslovnaSlika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></a>
                <div class="flex flex-column align-items-end align-items--m-center margin-xxl--right-90 margin-xl--right-60 margin-m--right-18 margin-m--left-18 margin-xxl--bottom-60 margin-xxl--top-48">
                    <div class="font-32 font-white text-right text--m-center margin-xxl--bottom-24">{{next_proj.Naziv}}</div>
                    <div class="project-prev-next-text text-right text--m-center font-16 font-white margin-xxl--bottom-24">{{next_proj.Opis}}</div>
                    <div class="line-big background-blue"></div>
                </div>
            </div>
            {# {% for project in Project %}
            {% if project.Podeli == 'true' %}
            <div class="flex flex-column project-width">
                <a href="project/{{project.Slug}}">
                    <div class="project-prev-next" style="background-image: url('img/{{ project.NaslovnaSlika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
                </a>
                <div class="flex flex-column margin-xxl--left-90 margin-xl--left-60 margin-xxl--bottom-60 margin-xxl--top-48">
                    <div class="font-32 font-white margin-xxl--bottom-24">{{project.Naziv}}</div>
                    <div class="project-prev-next-text font-16 font-white margin-xxl--bottom-24">{{project.Opis}}</div>
                    <div class="line-big background-blue"></div>
                </div>
            </div>
            {% endif %}
            {% endfor %} #}
            {# <div class="flex flex-column project-width">
                <a href="project/{{next_proj.Slug}}">
                    <div class="project-prev-next" style="background-image: url('img/{{ next_proj.NaslovnaSlika }}'); background-size: cover; background-repeat: no-repeat; background-position: center;"></div>
                </a>
                <div class="flex flex-column margin-xxl--left-90 margin-xl--left-60 margin-xxl--bottom-60 margin-xxl--top-48">
                    <div class="font-32 font-white margin--bottom-24">{{next_proj.Naziv}}</div>
                    <div class="project-prev-next-text font-16 font-white margin-xxl--bottom-24">{{next_proj.Opis}}</div>
                    <div class="line-big background-blue"></div>
                </div>
            </div> #}
            <div class="flex flex-column align-items-center margin-xxl--top-48">
                <button class="button-midd font-14 font-white margin-xxl--bottom-48">NAŠE USLUGE</button>
                {# <div class="flex margin-xxl--bottom-60">
                    <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/instagram-small-icon.png">
                    <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/facebook-small-icon.png">
                    <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/twitter-small-icon.png">
                    <img class="margin-xxl--left-24 margin-xxl--right-24" src="images/icons/linkedin-small-icon.png">
                </div> #}
            </div>
        </div>

{% include 'klijenti.twig' %}
{% include 'contact_shared.twig' %}

{% endblock %}
