{% extends "base.twig" %}
{% block content %}

        <div class="projekti flex flex-wrap">
            <div class="projekti--naslov padding--top-100 padding--left-90 flex flex-column">
                <div class="font-grey font-46 letter-spacing--0_3 margin--bottom-24">Projekti</div>
                <div class="font-grey--mid font-24 letter-spacing--0_3 margin--bottom-24">Lorem Ipsum is simply dummy text.</div>
                {# <div class="home-blok3-naslov-linija"></div> #}
            </div>
        {# <div class="home-blok3-prazan w-50"></div>
        <div class="grid"> #}
        {# {% for item in Projects %}
            {% if loop.index < 5 %} #}
            {# <div class="grid-projekat">
                <div class="grid-projekat-picture">
                    <img src="img/{{item.Image}}">
                    <div class="grid-projekat-picture-hover">
                        <img class="grid-projekat-picture-hover-logo" src="img/{{item.Logo}}">
                        <div class="grid-projekat-picture-hover-opis">{{item.Text}}</div>
                        <button class="button-white">VIŠE</button> #}
                        {# <div class="d-flex justify-content-center align-items-center"> 
                            <img class="grid-projekat-picture-hover-icon" src="images/google-icon.svg"> 
                            <img style="padding-bottom: 4px;" class="grid-projekat-picture-hover-icon" src="images/facebook-icon.svg"> 
                            <img class="grid-projekat-picture-hover-icon" src="images/instagram-icon.svg"> 
                        </div> #}
                    {# </div>
                </div> #}
                {# <div class="grid-projekat-opis">
                    <div class="grid-projekat-opis-title">{{item.Title}} </div>
                    <div class="grid-projekat-opis-text">{{item.Text}}</div>
                </div> #}
            {# </div> #}
            {# {% endif %}
        {% endfor %} #}
        {# </div>
    </div>
     <div class="d-flex justify-content-center home-blok4">
        <button style="margin: 0;" class="button-blue2">VIŠE</button> #}
    </div> 

{% endblock %}